hmtl, body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* HEADER */

#header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 1;
    background-color: black;
}

header img {
    padding: 0;
    margin-left: 10px;
    height: 50px;
}

/* NAV */

header nav ul li {
    display: inline-flex;
    padding: 10px;
    text-decoration: underline;
    position: relative;
}

header nav ul {
    margin-right: 10px;
}

#menu {
    display: none;
    position: absolute;
}


@media only screen and (max-width: 642px) {
    #menu {
        display: inline;
        position: relative;
    }

    .options {
        display: none;
        position: relative;
    }
}

/* CENTER HEADER */

.center {
    height: 700px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 1200px;
    background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    margin: 0 auto;
}

.center-text {
    width: 100%;
    background-color: black;
    align-items: center;
}

/* TEA PICTURES PART */

.tea-month {
    max-width: 1000px;
    margin: 0 auto;
}

.tea-month header {
    padding: 0;
}

.products {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    width: 300px;
    height: 300px;
    padding: 15px;

}

.product img {
    width: 300px;
    height: 200px;
    margin: 0;
}

/* INFORMATION/LOCATION PART */

.information {
    min-height: 500px;
    opacity: 1;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg)

}

.locations {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.location {
    padding: 10px;
    background-color: black;
    opacity: 1;
    flex-basis: 300px;
    margin: 0 20px;
}

.contact {
    height: 200px;
}

footer {
    position: relative;
    opacity: 1;
    background-color: black;
    bottom: 0;
    text-align: left;
    min-height: 40px;
}

footer h4 {
    margin-left: 20px;
}
